<div class="container">
    <header>
        <h1><b>Quotes by Famous people</b></h1>
    </header>
    <div class="row">
        <div class="col-md-3">
            <app-quotes-form (addQuote)="addnewQuote($event)"></app-quotes-form>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4" *ngFor="let quote of quotes ">
                    <p class="eachquote ">"{{quote.quotedetails}}"</p>
                    <p class="eachquote">~{{quote.author}}~</p>
                    <app-quotes-details [quotess]='quote' (isComplete)='quoteDelete($event,index)'></app-quotes-details>
                </div>
            </div>
        </div>
    </div>
</div>