header {
    background-color: #0d1137;
    color: white;
    margin: 10px;
    border-radius: 2%;
    padding: 5px;
}

.container {
    background-color: whitesmoke;
}

.col-md-4 {
    background-color: whitesmoke;
    margin: 7px;
    border: solid;
    padding: 15px;
    box-shadow: 5px 10px #888888;
}

.eachquote {
    font-family: 'Allan', cursive;
    font-size: 20px;
}