<div class="row">
    <p>quotes-details works!</p>


    <div class="col-md-9">

        <div class="row">

            <p>{{quotess.author}}</p>
            <p>{{quotess.addeddate|date}}</p>
            <p>Added {{quotess.addeddate|dateCount}} days ago</p>

            <div class="upvotes">
                <button (click)="upvote()">Upvote</button>
                <p>{{upvotes}} vote(s)</p>
            </div>
            <div class="downvotes">
                <button (click)="downvote()">Down vote</button>
                <p>{{downvotes}}vote(s)</p>
            </div>
            <!--<div class="delete">
                <button (click)='deleteQuote(true)'>Delete Goal</button>
            </div> -->

        </div>
    </div>
</div>